<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springmvc.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
    <multipart-config>
      <!-- 指定上传文件的临时目录 -->
      <location>d:/</location>

      <!-- 上传文件最大2MB -->
      <max-file-size>2097152</max-file-size>

      <!-- 上传文件整个请求不超过4MB -->
      <max-request-size>4194304</max-request-size>
    </multipart-config>
  </servlet>

<!--  <listener>-->
<!--    <listener-class>org.apache.logging.log4j.web.Log4jServletContextListener</listener-class>-->
<!--  </listener>-->



  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/views/404.jsp</location>
  </error-page>

  <context-param>
    <param-name>registerAddress</param-name>
    <param-value>江苏省徐州市金山东路1号</param-value>
  </context-param>
  <context-param>
    <param-name>email</param-name>
    <param-value>admin@eshop.com</param-value>
  </context-param>
  <context-param>
    <param-name>phone</param-name>
    <param-value>+86 516 12345678</param-value>
  </context-param>
  <context-param>
    <param-name>webName</param-name>
    <param-value>江苏徐海电子商务网</param-value>
  </context-param>

  <welcome-file-list>
    <welcome-file>index</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>